.App {
  text-align: center;
}


.titulo {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.foto {
  height:25%;
  width: 25%;
}
.spinner {
  position: relative;
  margin-left: 160px;

}

.productos {
  margin-left: 110px;
}

.nav {
  color: white;
  margin-left: 20px;
  padding: 1px;
  position: relative;
  font-weight: 300;
  text-decoration: none;
  font-weight: 500;
  
  
}


body{
  padding-top: 60px;
  padding-bottom: 40px;
  }
  .fixed-header
  {
  width: 100%;
  position: fixed;
  background: #333;
  padding: 10px 0;
  color: #fff;
  }
  .fixed-header{
  top: 0;
  }
  .container{
  width: 80%;
  margin: 0 auto;
  }
  nava{
  color: #fff;
  padding: 7px 25px;
  display: inline-block;
  }